/*setting margins and padding to 0 to ensure uniform background coloring, setting global font*/
* {
    margin:0;
    padding:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

/*primary background for title in header*/
h1{
    background-color: lightcoral;
    display:inline-block;
    justify-content: left;
    padding: 15px;
    font-size: 70px;
    margin-left: 1%;
    margin-top: 1%;
    color: white;
}
/*header banner*/
header {
    background-color: sienna;
    position:absolute;
    width:100%;  
    margin-bottom: 15px;
}
/*nav elements configure nav to be inline without text decoration*/
nav ul{
    padding: 0 2rem;
    float:right;
    margin-bottom: 30px;
}

nav ul li {
    display: inline-block;
}

nav a {
    color:white;
    text-decoration: none;
    margin-top: 30px;
    padding: 15px;
    font-size: 25px;
    font-weight:bold;
}

nav a:hover{
    color:rgb(161, 161, 161);
}

nav a:active{
    color:rgb(77, 77, 77);
}

/*adding spacing between first card and header, leaving space for image*/
#about-me {
    padding-top: 300px;
    width:100%;
}

#about-me div {
    display:flex;
}


/*setting formatting for each section's title card*/
h2 {
    padding-top: 5px;
    padding-left: 1%;
    font-size: 35px;
    padding-bottom: 10px;
    background-color:lightcoral;
    width: 25%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
}

/*formatting image to appear next to the about-me section*/


#photo {
    display:inline-block;
    max-width: 300px;
    max-height: 600px;
    padding: 10px;
    background-color: lightcoral;
    margin-left: 5%;
    margin-right: 5%;
    width:25%;
    vertical-align: right;
}


/*formatting the paragraphs for each section*/
section p {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:bisque;
    padding-left: 1%;
    margin-left: 5%;
    width: 85%; 
    font-size: 20px
}

p {
    line-height: 22px;
}
/*creating flexbox container for image links*/
.container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    flex-wrap: wrap;
    margin-bottom: 100px;
    width: 50%
}
/*standardizing size of image links*/
.linkimage {
    width: 300px;
    height: 300px;
    object-fit:cover;
    padding: 10px;
    background-color: sienna;
    position: relative;
    min-width: 300px;
    min-height: 300px;
}
/*larger image link for first project */
.largeimage {
    width: 930px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    background-color: sienna;
    position: relative;
    min-width: 300px;
    min-height: 300px;
}
/*placing text under images */
.imagetext {
    background-color: sienna;
    font-size: 20px;
    padding: 3px;
    margin-bottom:10px;
    margin-top: -5px;
    color: white;
    text-decoration: none;
}
/*setting hover effects on cards*/
.card:hover{
    opacity: 0.7    
}

/*formatting contact field*/
#contact a {
    padding: 30px;
    display:inline-block;
    margin-left: 100px;
    color:white;
    font-size: 20px;
    text-decoration: none;
}

#contact{
    background-color: sienna
}

#contact a:hover{
    color:rgb(161, 161, 161);
}

#contact a:active{
    color:rgb(77, 77, 77);
}


/*media query for smaller displays*/
@media screen and (max-width: 1561px) {
    .largeimage{
        width: 600px;
    }
  }

@media screen and (max-width: 992px) {
    .linkimage{
      width: 50%;
    }
    .imagetext{
        width: 50%;
      }
    .largeimage{
        width: 50%;
    }
  }
  @media screen and (max-width: 768px) {
    .linkimage{
      width: 100%;
    }
    .largeimage {
        width:100%
    }
    .imagetext{
        width: 100%;
      }
  }